@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Palanquin&family=Roboto&family=Staatliches&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

:root {
    --ff-heading: 'Staatliches', cursive;
    --ff-texting: 'Palanquin', sans-serif;
    --ff-texting-secondary: 'Roboto', sans-serif;
    --ff-footer: 'Open Sans', sans-serif;
    font-size: 62.5%;
    --fs-body: 1.6rem;

    --hue: 275;
    --bg-header: hsl(var(--hue), 17%, 62%);
    --bg-primary: hsl(var(--hue), 18%, 79%);
    --bg-secondary: hsl(var(--hue), 100%, 97%);
    --bg-secondary-card: hsl(var(--hue), 91%, 96%);


    --fc-texting: hsl(var(--hue), 84%, 12%);
    --fc-texting-sm: hsl(var(--hue), 0%, 100%);
    --fc-primary: hsla(var(--hue), 0%, 100%);
    --fc-secondary: hsl(var(--hue), 17%, 35%);


}

body {
    font-size: var(--fs-body);
}

.page {
    margin: 0 auto;


}

header {
    width: 100vw;
    height: 28rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;
    background: var(--bg-header);

    padding-top: 3.8rem;
}

header div {
    width: 100%;
    background-color: var(--bg-primary);
    text-align: center;
}

header img {
    transition: transform 700ms;
}

header img:hover {
    transform: scale(0.9);
}

header h1 {
    font-family: var(--ff-heading);
    font-size: 4rem;
    font-weight: 400;
    line-height: 3.6rem;
    color: var(--fc-primary);
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    padding: 8px 8rem;

    animation: lefttoright 700ms 250ms backwards;
}

header p {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.8rem 3.2rem 6rem;
}

main .text p {
    font-family: var(--ff-texting);
    font-size: 2rem;
    color: var(--fc-texting);
    line-height: 2rem;
    margin: 1.6rem 0 3rem 0;
    text-align: center;

    animation: lefttoright 700ms 350ms backwards ease-in-out;
}

.cards {
    display: grid;
    gap: 3.2rem;
    margin-top: 5rem;
}

main .card {
    position: relative;
    transition: transform 700ms;
    margin-top: 3rem;

    width: 32rem;
    height: fit-content;
}

main .card:hover {
    transform: scale(0.9);
}

main .card img {
    width: 100%;
    animation: downtotop 700ms 600ms backwards ease-in;
}

main span {
    font-family: var(--ff-heading);
    font-size: 2rem;
    line-height: 3.4rem;
    letter-spacing: 2px;
    text-align: center;
    color: var(--fc-secondary);
    background-color: var(--bg-secondary-card);
    border-radius: 2rem;
    width: 11.2rem;
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;

    animation: toptodown 700ms 700ms backwards ease-in;
}

footer,
.cards .card:nth-child(3),
.cards .card:nth-child(4) {
    display: none;
}

@keyframes lefttoright {
    0% {
        opacity: 0;
        transform: translateX(-25px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes downtotop {
    0% {
        opacity: 0;
        transform: translateY(45px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes toptodown {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-width: 900px) {
    .page {
        display: flex;
        height: 100%;

    }

    header {
        height: 100%;
        width: 37.7rem;
        position: fixed;

    }

    header p {
        font-family: var(--ff-texting-secondary);
        width: 27.5rem;
        color: #FFF;
        font-size: 1.8rem;
        line-height: 2rem;
        text-align: center;
        display: block;

        animation: lefttoright 700ms 350ms backwards ease-in-out;

    }


    main p {
        display: none;
    }

    .cards .card:nth-child(3),
    .cards .card:nth-child(4) {
        display: block;
    }


    .cards {
        margin-left: 45rem;
        grid-template-areas:
            'A B'
            'C B'
            'C D'
            'E F'
        ;
    }

    .cards .card:nth-child(1) {
        grid-area: A;
    }

    .cards .card:nth-child(2) {
        grid-area: B;
    }

    .cards .card:nth-child(3) {
        grid-area: D;
    }

    .cards .card:nth-child(4) {
        grid-area: C;
    }

    .cards .card:nth-child(5) {
        grid-area: E;
    }

    .cards .card:nth-child(6) {
        grid-area: F;
    }

    footer {
        width: 100%;
        padding-top: 4rem;
        display: inline-block;
        text-align: center;
    }

    footer p {
        padding-left: 42rem;
        display: inline;
        font-family: var(--ff-footer);
        color: var(--fc-secondary);
        font-size: 1.6rem;
        line-height: 2.8rem;


    }

    footer p a {
        font-family: var(--ff-footer);
        color: var(--fc-secondary);
        font-size: 1.4rem;
        line-height: 2.8rem;
        text-decoration: none;
    }

    footer p a:hover {
        font-weight: 700;
        color: #000;
    }
}

@media (min-width: 1440px) {
    .cards {
        margin-left: 38rem;
        grid-template-areas:
            'A B C'
            'D B E'
            'D F E';
    }

    .cards .card:nth-child(1) {
        grid-area: A;
    }

    .cards .card:nth-child(2) {
        grid-area: B;
    }

    .cards .card:nth-child(3) {
        grid-area: C;
    }

    .cards .card:nth-child(4) {
        grid-area: D;
    }

    .cards .card:nth-child(5) {
        grid-area: F;
    }

    .cards .card:nth-child(6) {
        grid-area: E;
    }
}